body {
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  /* outline: 2px solid blue; */
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 5px;
  /* background: #000; */
}

.logo {
  width: 300px;
  margin-bottom: -10px;
  margin-top: 40px;
}

.input {
  display: flex;
  /* outline: 2px solid red; */
  padding: 0;
  border-radius: 5px;
  border: 1px solid rgb(178, 180, 178);
  margin-bottom: 0.5rem;
  width: 100%;
}

input {
  background-color: #f1f0f0;
  padding-inline: 10px;
  padding: 15px;
  outline: none;
  border: none;
}

input:focus {
  border: none;
}
.phone {
  /* height: 55px; */
  border-radius: 3px;
  width: 100%;
}

.password {
  width: 100%;
  /* height: 55px; */
  /* outline: 2px solid blue; */
  border-radius: 3px;
}

.show {
  /* width: 55px; */
  /* height: 60px; */
  background-color: #f1f0f0;
  /* padding-left: 15px; */
  /* padding-bottom: 3px; */
  /* padding-top: 3px; */
  /* margin-left: -7px; */
  /* border-color: #FFFFFF; */
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  padding-inline: 10px;
  font-family: sans-serif;
}
.login {
  margin: 30px;
  width: 348px;
  height: 40px;
  font-size: 20px;
  background-color: #808dfb;
  color: #f4f4fe;
  border-color: #808dfb;
  border-radius: 10px;
}
hr {
  width: 160px;
  height: 0.08px;
}
.hr {
  display: flex;
  justify-content: space-between;
  /* outline: 2px solid green; */
  width: 380px;
  font-family: sans-serif;
  font-weight: bolder;
}

.facebook {
  display: flex;
  /* outline: 2px solid brown; */
  justify-content: space-between;
  width: 220px;
  align-items: flex-end;
  height: 70px;
  color: blue;
  font-family: sans-serif;
  font-weight: bolder;
}

.forgot {
  display: flex;
  align-items: flex-end;
  /* outline: 2px solid red; */
  height: 60px;
  font-family: sans-serif;
  font-weight: bolder;
  color: black;
}
p {
  align-items: flex-end;
  height: 100px;
  /* outline: 2px solid black; */
  display: flex;
  font-family: sans-serif;
  font-weight: bolder;
}
.signup {
  color: #60a9fb;
}
a {
  text-decoration: none;
  color: #0098f7;
}
a:hover {
  text-decoration: black;
}
button{
  cursor: pointer;
}
button:active {
  color: azure;
}

button:hover {
  color: rgb(190, 204, 204);
}

